/* custom syle sheet */
/**
 * FileName : app.css
 * 
 * @author Joanne Jung
 * @date June 22, 2016

 * 
 * Student ID : 300432364
 * website : http://comp125-s2016-midterm-300432364.azurewebsites.net
 * @description This file is the CSS file for the COMP125-s2016-Midterm
 */
.navbar {
    opacity: 0.8;
}

#MainTitle {
    font-size: 4em;
    color: #5690CF;
    padding-top: 1em
}

main {
    padding-top: 4.375em
}

article, section {
    font-size: 1.35em;
}
